body {
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splash {
  position: relative;
  .splash-dummy {
    opacity: calc(1 - var(--intro-opacity));
  }
  .splash-picture {
    opacity: var(--intro-opacity);
  }
  svg {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    &.siren,
    &.siren-front,
    &.flute,
    &.stone,
    &.flute-shadow,
    &.siren-arm {
      right: 0;
      bottom: 0;
      left: auto;
      top: auto;
    }
  }
}

.instrument {
  position: relative;
  svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.menu {
  display: grid;
  padding: .75rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: stretch;
  justify-items: stretch;
  grid-row-gap: 1.5rem;

  button {
    @media not (prefers-reduced-motion) {
      transition-property: color, background-color, box-shadow, border-color;
      transition-duration: 350ms;
      transition-timing-function: ease-in;
    }
  }
}