main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.splash {
  position: relative;
  svg {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    &#siren,
    &#siren-front,
    &#flute,
    &#stone,
    &#flute-shadow,
    &#siren-arm {
      right: 0;
      bottom: 0;
      left: auto;
      top: auto;
    }
    &:not(#flute):not(#sun):not(#tracks) {
      opacity: var(--intro-opacity)
    }
  }
}
