body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
}

.splash {
  position: relative;

  .splash-dummy {
    opacity: calc(1 - var(--intro-opacity));
  }

  .splash-picture {
    opacity: var(--intro-opacity);
  }

  svg {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;

    &.siren,
    &.siren-front,
    &.flute,
    &.stone,
    &.flute-shadow,
    &.siren-arm {
      right: 0;
      bottom: 0;
      left: auto;
      top: auto;
    }
  }
}

.instrument {
  position: relative;

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.menu, .about {
  display: grid;
  padding: .75rem;
  align-items: stretch;
  justify-items: stretch;
  grid-row-gap: 1.5rem;

  button {
    &:not(:disabled) {
      cursor: pointer;
      @media not (prefers-reduced-motion) {
        transition-property: color, background-color, box-shadow, border-color;
        transition-duration: 350ms;
        transition-timing-function: ease-in;
      }
    }
  }

  &, &::after {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  &::after {
    position: absolute;
    content: ' ';
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
  }
}

.about {
  dl {
    display: grid;
    grid-auto-columns: auto auto;
    grid-gap: 1rem;
    dt {
      grid-column: 1;
      text-align: right;
      font-style: italic;
    }
    dd {
      grid-column: 2;
    }
  }
}

.instrument-button {
  touch-action: none;
  &, & + text {
    cursor: move;
    user-select: none;
  }
}